<div class="new-msg-form">
  {{input type="text" placeholder="name" class="name-input" value=name}}
  {{input type="text" placeholder="msg" class="msg-input" value=body}}
  <button {{action "addMessage"}} class="submit">Add Message</button>

</div>
